.crystal-image {
    width: 150px;
    height: 150px;
 
 }

 body {
     background-image: url("../images/green_bg.jpg");
 }

 h1 {
     font-size: 40px;
     background-color: coral;
     display:inline-block;
     padding: 30px 0px 30px 0px;
 }