/* CSS for the Crystal collector random guess game */
.crystal-image {
    width: 150px;
    height: 150px;
    margin: 7px;
 
 }

 body {
     background-image: url("../images/green_bg.jpg");
 }

 h1 {
     font-size: 40px;
     background-color: coral;
     display:inline-block;
     padding: 25px 4px 25px 4px;
     margin: 7px;

 }

 #instructions {
     background-color: #00BFFF;
     width: 420px;
     padding: 15px 15px 35px 0px;
     margin: 7px;
     /* position: absolute; */
 }

 p {
     margin-left: 7px;
 }

 /* #number-to-guess  */
 h2 {
     background-color: #7FFF00;
     width: 150px;
     height: 45px;
     padding: 9px 0px 35px 4px;
     margin: 7px;
     float: left;
     font-size: 200%;
 }
 .score-board {
    background-color: #FFD700;
    width: 150px;
    height: 90px;
    margin: 7px;
    /* padding: 9px 0px 0px 4px; */

    /* padding: 15px 0px 35px 0px; */
    float: left;
 }

 #wins-losses-message {
     padding: 4px 2px 0px 0px;
 }

 #wins-total {
     float: left;
     margin-right: 4px;
 }

 #losses-total {
    float: left;
    margin-right: 4px;

}


 /* span {
     clear: both;
 } */

 /* .tally {
     width: 75px;
 } */

 #crystals {
  clear: both; 
 }

 #score-message {
    background-color: #FFD700;
    width: 150px;
    margin: 7px;
    padding: 4px 4px;
/* For debugging spacing, sizing, etc.
    border: 1px solid red; */
 }

 #total-score {
    background-color: #FFD700;
    width: 150px;
    height: 90px;
    margin: 7px;
    font-size: 200%;
    padding: 4px 4px;


 }

